* {
	background: black;
	margin: 5;
	padding: 5;
}
/* Grid
------------------------------------*/
 .grid{
	display:grid;
	grid-template-columns:50% 50%;
	grid-auto-flow:row dense;
}
.box{
	background:white;
	border:15px solid black;
	height:300px;
}
/* Dimensions
------------------------------------*/
.normal{
  grid-row:span 1;
	height:auto;
}
.large{
	grid-row:span 2;
	height: auto;
}
.obese{
	grid-row:span 3;
	height:auto;
}
.xxl{
	grid-column:span 4;
}
.xxxl{
	grid-column:span 5;
}
/* Colours
------------------------------------*/
.black{
	background:black;
}
.white{
	background:white;
}
.red{
	background:red;
}
.blue{
	background:blue;
}
.yellow{
	background:yellow
}
/* Breakpoints
------------------------------------*/
@media screen and (min-width: 800px){
		.grid{
		grid-template-columns: 30% 30% 30% 10%;
	}
	.box{
		height: 220px;
	}
	.normal{
		grid-row: span 2;
		height: auto;
	}
	.large{
		grid-row: span 3;
		height: auto;
	}
	.obsese{
		grid-row: span 4;
		height: auto;
	}
	.xxl{
		grid-column: span 2;
	}
	.xxxl{
		grid-column: span 3;
	}
}
@media screen and (min-width: 1600px){
		.grid{
		grid-template-columns: 30% 30% 20% 20%;
	}
	.box{
		height: 320px;
	}
	.normal{
		grid-row: span 2;
		height: auto;
	}
	.large{
		grid-row: span 3;
		height: auto;
	}
	.obsese{
		grid-row: span 4;
		height: auto;
	}
	.xxl{
		grid-column: span 2;
	}
	.xxxl{
		grid-column: span 3;
	}
}