* {
	background: black;
	margin: 5;
	padding: 5;
}
/* Grid
------------------------------------*/
 .grid{
	display:grid;
	grid-template-columns:50% 50%;
	grid-auto-flow:row dense;
}
.box{
	background:white;
	border:15px solid black;
	height:300px;
}
/* Dimensions
------------------------------------*/
.normal{
  grid-row:span 1;
	height:auto;
}
.large{
	grid-row:span 2;
	height: auto;
}
.obese{
	grid-row:span 3;
	height:auto;
}
.xxl{
	grid-column:span 4;
}
.xxxl{
	grid-column:span 5;
}
/* Colours
------------------------------------*/
.black{
	background: #000000;
}
.white{
	background: #F8F9F9;
}
.red{
	background: #E74C3C;
}
.blue{
	background: #3498DB;
}
.yellow{
	background: #FFD500;
}
/* Breakpoints
------------------------------------*/
@media screen and (min-width: 1000px){
		.grid{
		grid-template-columns: 20% 20% 20% 20% 20%;
	}
	.box{
		height: 220px;
	}
	.normal{
		grid-row: span 1;
		height: auto;
	}
	.large{
		grid-row: span 2;
		height: auto;
	}
	.obsese{
		grid-row: span 3;
		height: auto;
	}
	.xxl{
		grid-column: span 4;
	}
	.xxxl{
		grid-column: span 5;
	}
}